.text {
    color:grey;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.combo {
    color:grey;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}